/*********************************************
*******************************DEFAULT STYLING
**********************PAGE SCROLLING BEHAVIOUR
******************HEADER AND PARAGRAPH STYLING
**********************************BODY STYLING
*********************************************/

/***********PAGE SCROLLING BEHAVIOUR*******************/
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/******************HEADER AND PARAGRAPH STYLING**************/
h1,h2,p{
    padding: 0;
    margin: 0;
}

/*******************BODY STYLING***********************/
body{
    margin: 0;
    padding: 0;
}





/********************HEADER*********************
******************************SECTION OF HEADER
******************************DIV CLASS OF NAME
****************************NAV CLASS OF NAVBAR
*******************************UL CLASS OF MENU
*************************LI CLASS OF MENU ITEMS
***********************************************/

/*********** SECTION OF HEADER ************/
section.header{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    position: sticky;
    top: -13%;
    z-index: 1000;
}

/******** DIV CLASS OF NAME***************/
section.header div.name{
    width: 100%;
    height:70px;
    padding: 15px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 1.7em;
}

/********NAV CLASS OF NAVBAR*************/
section.header nav.navbar{
    margin:auto;
    max-width: 50%;
    height: 70px;
    text-align: center;
    background-color: rgb(0, 0, 0);    
}

/************UL CLASS OF MENU***********/
section.header nav.navbar ul.menu{
    display: block;
    list-style-type: none;
    padding:0;
    margin: 0;
}

/***********LI CLASS OF MENU ITEMS*******/
section.header nav.navbar ul.menu li.menu-items{
    display: inline-block;
    padding: 0;
    margin: 0;
}

/*********LINK OF MENU ITEMS********/
section.header nav.navbar ul.menu li.menu-items a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 13pt;
    padding: 25px 15px;
    margin:0;
}

/**********LI CLASS OF NAV-LINK*******/
.nav-link{
    text-transform: uppercase;
    letter-spacing: .1rem;
    position: relative;
}
.nav-link::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 20%;
    height: .1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear; 
}
.nav-link:hover::before {
    margin: 0;
    padding: 0;
    transform: scaleY(1);
    transform-origin: left;
}





/**************WELCOME*****************
***************SECTION CLASS OF WELCOME
***********SECTION CLASS OF WELCOME IMG
**********************DIV ID OF ADDRESS
**************************************/

/*********SECTION CLASS OF WELCOME*************/
section.wel{
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    background: white;
    height: auto;
    max-width: 100%;
}

/******************SECTION CLASS OF WELCOME IMG************/
section.wel img{
    margin: 0;
    padding: 0;
    height:700px;
    width: 100%;
    background-attachment: fixed;
}

/**********DIV ID OF ADDRESS*****************/
section.wel div#address{
    margin:0;
    padding: 0;
    position: absolute;
    top: 50%;
    opacity: 0.5;
    background: black;
    color:rgb(255, 255, 255) ;
    width: 100%;
    height: 200px;
    text-transform: capitalize;
}
section.wel div#address h1{
    font-size: 4em;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
}
section.wel div#address p{
    color:white;
    font-size: 2em;
    padding: 0;
    margin: 0;
}





/***********ABOUT************************
*******************SECTION CLASS OF ABOUT
************SECTION CLASS OF ABOUT HEADER
***************DIV CLASS OF ABOUT CONTENT
*******DIV CLASS OF ABOUT CONTENT ARTICLE
***********DIV CLASS OF ABOUT CONTENT IMG
****************************************/

/******SECTION CLASS OF ABOUT*********/
section.about{
    display: block;
    background: white;
    height: 620px;
    max-width: 100%;
    position: relative;
}

section.about:hover{
    background-color: rgb(235, 224, 222);
    transition: 3s;
}

/********SECTION CLASS OF ABOUT HEADER******/
section.about h1{
    
    position: relative;
    top: 20%;
    margin-left: 100px;
    font-size: 3em;
    text-transform: capitalize;    
}

/**********DIV CLASS OF ABOUT CONTENT**********/
section.about div.about_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:100%;
    height:550px;
}

/***********DIV CLASS OF ABOUT CONTENT ARTICLE********/
section.about div.about_content article{
    display: inline-flex;
    width: 50%;
    height: 55%;
    padding: 3%;
    font-size: 1.3em;
}

/***********DIV CLASS OF ABOUT CONTENT IMG********/
section.about div.about_content img{
    display: inline-flex;
    width: 40%;
    height: 85%;
}





/****************SERVICES************************
************************SECTION CLASS OF SERVICES
*********************************DIV CLASS OF SRV
********************************DIV CLASS OF HEAD
*****************************DIV CLASS OF PRODUCT
********************************DIV CLASS OF ROW1
********************************DIV CLASS OF ROW2
***********************************DIV ID OF COL1
***********************************DIV ID OF COL2
********DIV CLASS OF ROW1 COL1 IMG & COL1 ARTICLE
********DIV CLASS OF ROW1 COL2 IMG & COL2 ARTICLE
********DIV CLASS OF ROW2 COL1 IMG & COL1 ARTICLE
********DIV CLASS OF ROW2 COL2 IMG & COL2 ARTICLE
************************************************/

/*************SECTION CLASS OF SERVICES************/
section.services{
    width: 100%;
    height: 1100px;
}

/*************DIV CLASS OF SRV*****************/
section.services div.srv{
    background-color: white;
    height: 1000px;
    padding: 0;
    margin: auto;
    width: 80%;
}

/*************DIV CLASS OF HEAD*************/
section.services div.srv div.head{
    width:100%;
    height: 100px;
    font-size: 3em;
    text-transform:capitalize;  
    text-align: center;  
    color: black;
}

/***********DIV CLASS OF PRODUCT**********/
div.product{
    height: 900px;
    width: 100%;
}

/************DIV CLASS OF ROW1********************/
div.product div.row1 {
    display: flex;
    height: 450px;
    width: 100%;
}
  
div.product div.row1 > div {
    margin: 30px;
    padding: 25px;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: black;

}

div#col1:hover{
    box-shadow: 0px 0px 10px 7px #a09999;
    transition: 0.8s;
    color: black;
    background-color: rgb(255, 255, 255);
}

/************DIV CLASS OF ROW2********************/
div.product div.row2 {
    display: flex;
    height: 450px;
    width: 100%;
}
  
div.product div.row2 > div {
    margin: 30px;
    padding: 40px;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: black;

}


div#col2:hover{
    box-shadow: 0px 0px 10px 7px #a09999;
    transition: 0.8s;
    background-color: rgb(255, 255, 255);
    color: black;
}





/******************CONTACT**********************
************************SECTION CLASS OF CONTACT
*******************************DIV CLASS OF HEAD
*******************************DIV CLASS OF FORM
******************************INPUT TYPE OF TEXT
****************************BUTTON ID OF SENDMSG
***********************************************/

/***********SECTION CLASS OF CONTACT*********************/
section.contact{
    height: 430px;
    width:100%;
    background-color: rgb(209, 202, 202);
    margin: 0;
    padding: 0;
    position: relative;
}
section.contact div.container{
    margin: auto;
    width: 75%;
}

/***********SECTION CLASS OF CONTACT DIV CLASS OF HEAD***************/
section.contact div.head{
    font-size: 2.5em;
    text-align: center;
}

/***********DIV CLASS OF HEAD DIV CLASS OF FORM*************/
section.contact div.form{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0;

}

section.contact div.form input[type="text"]{
    width: 99%;
    height: 50px;
    font-size: 1.3em;
    margin: 5px;
}

section.contact div.form textarea#message{
    margin: 5px;
    width: 99%;
    font-size: 1.7em;
}

section.contact div.form select#list{
    width: 99%;
    height: 50px;
    font-size: 1.3em;
    margin: 5px;
}

/*****************DIV CLASS OF FORM BUTTON ID OF SENDMSG**************/
section.contact div.form button#sendmsg{
    background-color: rgb(83, 79, 79);
    height: 50px;
    width: 15%;
    color: white;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 2em;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    outline: 0px solid transparent;
}

section.contact div.form button#sendmsg:hover{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}

section.contact div.form button#sendmsg:active{
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px black;
}





/*********************FOOTER************************
***********************************DIV CLASS OF FTR1
***********************************DIV CLASS OF FTR2
********************************DIV CLASS OF PAYMENT 
*********************************DIV CLASS OF SOCIAL
**********************************DIV CLASS OF TERMS 
***************************************************/

/************FOOTER********************************/
footer{
    background-color: rgb(223, 208, 74);
    width: 100%;
    height: auto;
    display: block;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer:hover{
    background: khaki;
    transition: 1s;
}

/**********FOOTER DIV CLASS OF FTR1*****************/
footer div.ftr1{
    width: 100%;
    height: 300px;
    display:flex;
}

/*********DIV CLASS OF TERMS**************/
footer div.ftr1 div.terms{
    width: 33.3%;
    text-align: center;
    padding: 15px;
}

/**************DIV CLASS OF PAYMENT*********************/
footer div.ftr1 div.payment{
    width: 33.3%;
    text-align: center;
    padding: 15px;
}

footer div.ftr1 div.payment p{
    font-size: 1.3em;
    display: block;
    padding: 5px;
    color: black;
}
footer div.ftr1  div.payment ul  {
    display: block;
    padding: 0;
    margin: 0;
}
footer div.ftr1  div.payment ul li {
    list-style-type: none;
    display: block;
}
footer div.ftr1  div.payment ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
}
footer div.ftr1  div.payment ul li a i {
    display: block;
    font-size: 2.9em;
    margin: 5px;
}
footer div.ftr1 div.payment ul li a i:hover{
    /* background-color: rgb(223, 208, 74); */
    transform: translate(1px ,1px);
    transition-duration: 0.5s;
    text-shadow: 2px 2px 3px rgb(223, 208, 74);
}
/****************************DIV CLASS OF SOCIAL************************/
footer div.ftr1 div.social{
    text-align: center;
    width: 33.3%;
    padding: 15px;
    display: block;
}

footer div.ftr1 div.social ul{
    list-style-type: none;
    display: block;
}
footer div.ftr1 div.social ul li{
    display: inline-block;
}
footer div.ftr1 div.social p,div.social ul li a{
    font-size: 1.3em;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

footer div.ftr1 div.social ul li a i{
    font-size: 1.7em;
    display: inline-block;
    margin: 15px;
}
footer div.ftr1 div.social ul li a i:hover{
    /* background-color: rgb(223, 208, 74); */
    transform: translate(1px ,1px);
    transition-duration: 0.5s;
    text-shadow: 2px 2px 3px rgb(223, 208, 74);
}
/**************************DIV CLASS OF FTR2*************************/
footer div.ftr2{
    width: 100%;
    height:auto;
}

footer div.ftr2 p{
    text-align: center;
    font-size: 1.3em;
    padding: 2px;
    margin: 10px;
}
